body {
  font-family: Trebuchet, sans-serif;
  background-color: #000;
  color: #989898;
}

iframe {
  border: none;
  width:  100%;
  overflow: hidden;
  margin: 0;
} 

table {
  margin-left: auto;
  margin-right: auto;
  width: 400;
}

th, td {
  text-align: center;
  padding: 4px 4px;
}

hr {
  color: #989898;
  width: 120px;
  align: center;
}

a {
  color: #989898;
  text-decoration: none;
  height: 12px;
  cursor: pointer;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
  transition-duration: 0.4s;
}

input {
  border: none;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background-color: #4CAF50;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.select:hover {
  background-color: #989898;
  color: black;
}

.small {
  font-size: 8px;
  text-align: center;
  color: #989898;
}

.playlist {
	width: 50px;
	color: #989898;
}

